<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionapp120230918132725.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f439bdc4-a8cf-4685-9201-0ab0224a8e9f/resourceGroups/rg-app-insights-demo/providers/Microsoft.Web/sites/FunctionApp120230918132725</ResourceId>
    <UserName>$FunctionApp120230918132725</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://functionapp120230918132725.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>